<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" name="viewport" />
    <title>VChat</title>
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="leaflet/leaflet.css">

    <script type="text/x-handlebars-template" data-template-name="tweets">
        <ul>
            {{#each tweets}}
            <li class="tweet" style="background: url({{picUrl}}) no-repeat left">
                <h1>{{userName}}</h1>
                <p>{{{text}}}</p>
            </li>
            {{/each}}
        </ul>
    </script>

    <script type="text/x-handlebars-template" data-template-name="chats">
        <ul>
            {{#each chats}}
            <li class="chat">
                <b>{{userName}}</b>: {{text}}
            </li>
            {{/each}}
        </ul>
    </script>

</head>
<body>

    <!-- TODO remove prototype markup -->
    <div id="login">
        <input type="text" id="userName" />
        <div style="width:100%"></div>
        <button type="submit" id="enterButton" value="Enter">Enter</button>
    </div>
    <div id="viewport">
        <div id="content">
                <div id="video" class="page">
                    <video width="100%" height="100%" src='http://91.149.128.226:8007/hls-vod/sample1_1500kbps.f4v.m3u8' autoplay controls="controls"></video>
                </div>
                <div id="board" class="page">
                    <div id="text"></div>
                </div>
                <div id="chat" class="page">
                    <div id="chatMessages"></div>
                    <div id="chatMessage">
                        <input type="text" id="userMessage" />
                        <button type="submit" id="sendMessage" value="Enter">Send</button>
                    </div>
                </div>
                <div id="location" class="page">
                    <div id="map"></div>
                </div>
                <div id="twitter" class="page">
                    <div id="tweets"></div>
                </div>
        </div>
        <nav>
            <a href="#video">Video</a>
            <a href="#board">Board</a>
            <a href="#chat">Chat</a>
            <a href="#location">Map</a>
            <a href="#twitter">Tweets</a>
        </nav>
    </div>
    <script src="js/start.js"></script>
</body>
</html>